*{
  margin:0;
  padding:0;
}

body{
  text-align: center;
  background-color:#556;
  background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
  background-size:80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

#showcase{
  background-image:url('../images/landing.jpg');
  background-size:cover;
  background-position:center;
  height:100vh;
  color: white;
  text-shadow: .1em .1em .2em black;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}

#showcase h1{
  font-size:50px;
  line-height:1.2;
}

#showcase p{
  font-size:20px;
}

#showcase .button{
  font-size:18px;
  text-decoration:none;
  color:#white;
  text-shadow: .1em .1em .2em black;
  border:#white 1px solid;
  padding:10px 20px;
  border-radius:10px;
  margin-top:20px;
}

#showcase .button:hover{
  background:#926239;
  color:#fff;
}

.container{
  margin: auto;
  width: 80%;
}

.box{
  margin-top: 1em;
  background-color: #445;
  color: white;
  text-align: left;
  text-shadow: .1em .1em .2em black;
  font-size: 24px;
  box-shadow: 0 0 5px 2px #282a2d;
}

h3{
  text-align: center;
}

#landingText{
  padding: 3em;
  font-size: 48px;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}
#landingText h6{
  text-shadow: 0.1em .1em .5em white;
  color: #30b7ba;
}
